= simple_form_for :order, url: parse_oc_orders_path, html: { method: :post, multipart: true, class: 'form-inline' } do |f|
  = f.error_notification
 
  = f.input_field :order_confirmation_pdf, as: :file  

  .form-actions
    = f.button :submit, class: 'btn btn-success', value: 'Go'

%br
%br
%br
%table.table.table-bordered.table-hover
  %thead
    %tr 
      %th Confirmed on 
      %th Order number
      %th Vendor name
      %th Status
      %th PO Number 
      %th Total

  %tbody 
    - @orders.each do |order| 
      %tr
        %td= order.confirmed_on 
        %td= link_to order.order_number, order_path(order, format: :json)
        %td= order.vendor_name
        %td= order.status
        %td= order.po_number
        %td= order.total
